# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Ignore Karma config file
karma.conf.js

# Ignore SonarQube project configuration
sonar-project.properties

# Ignore test coverage reports
coverage/
.scannerwork/report-task.txt
robot-tests/geckodriver-1.log
robot-tests/geckodriver-2.log
robot-tests/geckodriver-3.log
robot-tests/geckodriver-4.log
robot-tests/geckodriver-5.log
robot-tests/geckodriver-6.log
robot-tests/geckodriver-7.log
robot-tests/geckodriver-8.log
robot-tests/geckodriver-9.log
robot-tests/geckodriver-10.log
robot-tests/geckodriver-11.log
robot-tests/geckodriver-12.log
robot-tests/geckodriver-13.log
robot-tests/geckodriver-14.log
robot-tests/geckodriver-15.log
robot-tests/geckodriver-16.log
robot-tests/geckodriver-17.log
robot-tests/geckodriver-18.log
robot-tests/geckodriver-19.log
robot-tests/geckodriver-20.log
robot-tests/geckodriver-21.log
robot-tests/geckodriver-22.log
robot-tests/selenium-screenshot-1.png
robot-tests/selenium-screenshot-2.png
robot-tests/selenium-screenshot-3.png
robot-tests/selenium-screenshot-4.png
robot-tests/selenium-screenshot-5.png
robot-tests/selenium-screenshot-6.png
robot-tests/selenium-screenshot-7.png
robot-tests/selenium-screenshot-8.png
robot-tests/selenium-screenshot-9.png
robot-tests/selenium-screenshot-10.png
robot-tests/selenium-screenshot-11.png
robot-tests/selenium-screenshot-12.png
robot-tests/selenium-screenshot-13.png
robot-tests/selenium-screenshot-14.png
robot-tests/selenium-screenshot-15.png
robot-tests/selenium-screenshot-16.png
robot-tests/selenium-screenshot-17.png
robot-tests/selenium-screenshot-18.png
robot-tests/selenium-screenshot-19.png
robot-tests/selenium-screenshot-20.png
robot-tests/selenium-screenshot-21.png
robot-tests/selenium-screenshot-22.png
robot-tests/selenium-screenshot-23.png
robot-tests/selenium-screenshot-24.png
robot-tests/selenium-screenshot-25.png
robot-tests/selenium-screenshot-26.png
robot-tests/selenium-screenshot-27.png
robot-tests/selenium-screenshot-28.png
robot-tests/selenium-screenshot-29.png
robot-tests/selenium-screenshot-30.png
robot-tests/selenium-screenshot-31.png
robot-tests/selenium-screenshot-32.png
robot-tests/selenium-screenshot-33.png
robot-tests/selenium-screenshot-34.png
robot-tests/selenium-screenshot-35.png
robot-tests/selenium-screenshot-36.png
robot-tests/selenium-screenshot-37.png
robot-tests/selenium-screenshot-38.png
robot-tests/selenium-screenshot-39.png
robot-tests/selenium-screenshot-40.png
robot-tests/selenium-screenshot-41.png
robot-tests/selenium-screenshot-42.png
robot-tests/selenium-screenshot-43.png
robot-tests/selenium-screenshot-44.png
robot-tests/selenium-screenshot-45.png
robot-tests/selenium-screenshot-46.png
robot-tests/selenium-screenshot-47.png
robot-tests/selenium-screenshot-48.png
robot-tests/selenium-screenshot-49.png
robot-tests/selenium-screenshot-50.png
robot-tests/selenium-screenshot-51.png
robot-tests/selenium-screenshot-52.png
robot-tests/selenium-screenshot-53.png
robot-tests/selenium-screenshot-54.png
robot-tests/selenium-screenshot-55.png
robot-tests/selenium-screenshot-56.png
robot-tests/selenium-screenshot-57.png
robot-tests/selenium-screenshot-58.png
robot-tests/selenium-screenshot-59.png
robot-tests/selenium-screenshot-60.png
robot-tests/selenium-screenshot-61.png
robot-tests/selenium-screenshot-62.png
robot-tests/selenium-screenshot-63.png
robot-tests/selenium-screenshot-64.png
robot-tests/selenium-screenshot-65.png
robot-tests/selenium-screenshot-66.png
robot-tests/selenium-screenshot-67.png
robot-tests/selenium-screenshot-68.png
robot-tests/selenium-screenshot-69.png
robot-tests/selenium-screenshot-70.png
robot-tests/selenium-screenshot-71.png
robot-tests/selenium-screenshot-72.png
robot-tests/selenium-screenshot-73.png
robot-tests/selenium-screenshot-74.png
robot-tests/selenium-screenshot-75.png
robot-tests/selenium-screenshot-76.png
robot-tests/selenium-screenshot-77.png
robot-tests/selenium-screenshot-78.png
robot-tests/selenium-screenshot-79.png
robot-tests/selenium-screenshot-80.png
robot-tests/selenium-screenshot-81.png
robot-tests/selenium-screenshot-82.png
robot-tests/selenium-screenshot-83.png
robot-tests/selenium-screenshot-84.png
robot-tests/selenium-screenshot-85.png
robot-tests/selenium-screenshot-86.png
robot-tests/selenium-screenshot-87.png
robot-tests/selenium-screenshot-88.png
robot-tests/selenium-screenshot-89.png
robot-tests/selenium-screenshot-90.png
robot-tests/selenium-screenshot-91.png
robot-tests/selenium-screenshot-92.png
robot-tests/selenium-screenshot-93.png
robot-tests/selenium-screenshot-94.png
robot-tests/selenium-screenshot-95.png
robot-tests/selenium-screenshot-96.png
robot-tests/selenium-screenshot-97.png
robot-tests/selenium-screenshot-98.png
robot-tests/selenium-screenshot-99.png
robot-tests/selenium-screenshot-100.png
robot-tests/selenium-screenshot-101.png
robot-tests/selenium-screenshot-102.png
robot-tests/selenium-screenshot-103.png
robot-tests/selenium-screenshot-104.png
robot-tests/selenium-screenshot-105.png
robot-tests/selenium-screenshot-106.png
robot-tests/selenium-screenshot-107.png
robot-tests/selenium-screenshot-108.png
robot-tests/selenium-screenshot-109.png
robot-tests/selenium-screenshot-110.png
robot-tests/selenium-screenshot-111.png
robot-tests/selenium-screenshot-112.png
robot-tests/selenium-screenshot-113.png
robot-tests/selenium-screenshot-114.png
robot-tests/selenium-screenshot-115.png
robot-tests/selenium-screenshot-116.png
robot-tests/selenium-screenshot-117.png
robot-tests/selenium-screenshot-118.png
robot-tests/selenium-screenshot-119.png
robot-tests/selenium-screenshot-120.png
robot-tests/selenium-screenshot-121.png
robot-tests/selenium-screenshot-122.png
robot-tests/selenium-screenshot-123.png
robot-tests/selenium-screenshot-124.png
robot-tests/selenium-screenshot-125.png
robot-tests/selenium-screenshot-126.png
robot-tests/selenium-screenshot-127.png
robot-tests/selenium-screenshot-128.png
robot-tests/selenium-screenshot-129.png
robot-tests/selenium-screenshot-130.png
robot-tests/selenium-screenshot-131.png
robot-tests/selenium-screenshot-132.png
robot-tests/selenium-screenshot-133.png
robot-tests/selenium-screenshot-134.png
robot-tests/selenium-screenshot-135.png
robot-tests/selenium-screenshot-136.png
robot-tests/selenium-screenshot-137.png
robot-tests/selenium-screenshot-138.png
robot-tests/selenium-screenshot-139.png
robot-tests/selenium-screenshot-140.png
robot-tests/selenium-screenshot-141.png
robot-tests/selenium-screenshot-142.png
robot-tests/selenium-screenshot-143.png
robot-tests/selenium-screenshot-144.png
robot-tests/selenium-screenshot-145.png
robot-tests/selenium-screenshot-146.png
robot-tests/selenium-screenshot-147.png
robot-tests/selenium-screenshot-148.png
robot-tests/selenium-screenshot-149.png
robot-tests/selenium-screenshot-150.png
robot-tests/selenium-screenshot-151.png
robot-tests/selenium-screenshot-152.png
robot-tests/selenium-screenshot-153.png
robot-tests/selenium-screenshot-154.png
robot-tests/selenium-screenshot-155.png
robot-tests/selenium-screenshot-156.png
robot-tests/selenium-screenshot-157.png
robot-tests/selenium-screenshot-158.png
robot-tests/selenium-screenshot-159.png
robot-tests/selenium-screenshot-160.png
robot-tests/selenium-screenshot-161.png
robot-tests/selenium-screenshot-162.png
robot-tests/selenium-screenshot-163.png
robot-tests/selenium-screenshot-164.png
robot-tests/selenium-screenshot-165.png
robot-tests/selenium-screenshot-166.png
robot-tests/selenium-screenshot-167.png
robot-tests/selenium-screenshot-168.png
robot-tests/selenium-screenshot-169.png
robot-tests/selenium-screenshot-170.png
robot-tests/selenium-screenshot-171.png
robot-tests/selenium-screenshot-172.png
robot-tests/selenium-screenshot-173.png
robot-tests/selenium-screenshot-174.png
robot-tests/selenium-screenshot-175.png
